# Fix colors over ssh
set -g default-terminal "screen-256color"
# set -ga terminal-overrides ",xterm-256color*:Tc"
# set -g default-terminal "tmux-256color"

# Fix arrow keys not working in PuTTY
set -g terminal-overrides "xterm*:kLFT5=\eOD:kRIT5=\eOC:kUP5=\eOA:kDN5=\eOB:smkx@:rmkx@"

# Enable mouse. Use shift, i.e. Shift+LeftClickDrag to highlight text. Esc to cancel
set -g mouse on

bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'copy-mode -e; send-keys =M'"

# Set repeat time in ms
set -g repeat-time 1000

# Fix lag when using tmux
set -sg escape-time 10

# Set aggressive resize
setw -g aggressive-resize on

# Interval in seconds to update status bar
set -g status-interval 5

## Tmux plugin installs

# tmux keyboard layout
set -g @plugin 'imomaliev/tmux-keyboard-layout'
set -g status-right '#{keyboard_layout}'

# Tmux Resurrect/Continuum
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Tmux menus
set -g @plugin 'jaclu/tmux-menus'
# tmux-menu plugin trigger
set -g @menus_trigger 'x'
# tmux-menu window location
#   W=current window name, P=lower left current pane, C=centered, M=mouse pos, R=right edge of term, S=next to status
set -g @menus_location_x 'C'
set -g @menus_location_y 'C'

# Tmux mode indicator
set -g @plugin 'MunifTanjim/tmux-mode-indicator'
# tmux mode indicator status bar location
set -g status-right '%Y-%m-%d %H:%M #{tmux_mode_indicator}'

# tmux sidebar
# set -g @plugin 'tmux-plugins/tmux-sidebar'
# colorize the tree
# set -g @sidebar-tree-command 'tree -C'

# Tmux update display
set -g @plugin 'lljbash/tmux-update-display'


# ================================================================================
# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
# ================================================================================